h1, h4{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h4{
    color: rgb(0, 208, 255);
}
.recipe-book-logo{
    width: 6rem;
    height: auto;
}
.head{
    display: flex;
    gap:1rem;
    justify-content: center;
}
.search-img{
    width:1rem;
}
.search {
    margin: 20px 0; 
}

.search-bar { 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    border: 1px solid #ccc; 
    border-radius: 8px; 
    padding: 1rem; 
    width: 90%; 
    margin: 0 auto; 
} 
.search-bar input { 
    border: none; 
    outline: none; 
    flex: 1; 
}
.apple-crisp-photo{
    width: 20rem;
}
.social-media-icon{
    width: 2rem;
}
.recipe-card{
    border: 1px solid #0b0b0b; 
    border-radius: 12px; 
    padding: 1rem; 
    margin: 2rem;
}
.type-of-food {  
    background-color: rgb(196, 196, 196); 
    font-size: 0.9rem;
    width:3rem; 
    border-radius: .2rem;
    padding: .1rem;
}

footer{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

@media (max-width: 600px) {
  .description {
    display: none;
  }
}

@media (min-width: 600px){
    .recipe-card{
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }
    footer{
        flex-direction: row;
        gap: 30%;
    }
}
