* {
  font-family: 'Times New Roman', Times, serif, sans-serif; 
  font-size: 14px;
  text-transform: uppercase; 
  letter-spacing: 1px;      
}
.submit{
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: .5rem;
    grid-column: 3;
    grid-row: 4;
    cursor:pointer;
    justify-self: end;
    height: 2rem;
}
.form{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 2fr 1fr 1fr;
    gap:1rem;
    padding: 2rem;
    width: 30%;
}
.frontside{
    width: 30rem;
    height: 15rem;
    border-radius: 1rem;
    background-color: gray;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    grid-column: 1/3;
    grid-row: 1/3;
    z-index: 2;
    padding:2rem;
    display:grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto auto;
}
.total{
    grid-column: 1;
    grid-row: 1;
}
.cardNumber{
    grid-column: 1;
    grid-row: 2;
}
.cardHolder{
    grid-column: 1;
    grid-row: 3;
}
.expiration{
    grid-column: 2;
    grid-row: 3;
}
.expirationInput{
    width: 3rem;
}
.emoji{
    font-size: 2.5rem;
    margin:0;
    grid-column: 3;
    grid-row: 1;
}
.backside{
    width: 30rem;
    height: 15rem;
    border-radius: 1rem;
    background-color: gray;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    grid-column: 2/4;
    grid-row: 2/4;
    z-index: 1;
    padding: 2rem;
    display:grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto auto;
}
.magneticStrip{
    background-color: black;
    height: 4rem;
    width: 122%;
    margin: 0;
    grid-column: 3;
    grid-row:1;
}
.cvv{
    grid-column: 3;
    grid-row: 3;
    display: flex;
    flex-direction: row;
}
.CVVinput{
    width: 3rem;
    height: 1rem;
}
