h1{
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}
h4{
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: rgb(0, 162, 255);
    margin-bottom: 0rem;
}
hr{
    margin-top: 0rem;
}
img{
    margin-top: 4rem;
    width: 20%;
    height: auto;
}
#content{
    text-align: center;
    width: 45%;
    margin: 0 auto;
}
#text{
    text-align: left;
}
li{
    margin: 1rem;
}