
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@media (min-width: 750px){
    main{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-row: auto;
    }
}
@media (max-width: 850px) and (min-width: 751px) {
    main{
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-row: auto;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(37, 145, 234);
}  
body {
  font-family: Roboto, sans-serif;
  color: white;
}
header,
footer {
  max-width: 1000px;
  margin: 1rem auto;
  padding: 1rem;
}
main{
    background-color: rgb(198, 196, 196);
    width: 100%;
    overflow:auto;
    padding-left: 10%;
    padding-right: 10%;
}
h1 {
    text-align: center;
}
section {
  padding: .5rem;
  background-color: white;
  margin: 1em;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0,0,0,0.5);
  max-width: 100%;
}
img{
  max-width: 100%;
  height: auto;
  display: block;
}
footer {
    text-align: center;
    padding: none;
}
.hidden {
  display: none;
}
nav {
  display: none;
  justify-content: center;
}

nav.open {
  display: flex;
  justify-content: center;
}

nav a {
  padding: 1rem;
  color: white;
}

.menu-btn {
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: white;
}
.currentWork{
  background-color: rgb(198, 196, 196);
  text-align: center;
  color: black;
  font-size:2rem;
}

@media (min-width: 600px) {
  nav {
    display: flex;        
  }

  .menu-btn {
    display: none;        
  }
}

          