
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@media (min-width: 750px){
    main{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row: auto;
    }
}
@media (max-width: 850px) and (min-width: 751px) {
    main{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-row: auto;
    }
}
   
body {
  font-family: Roboto, sans-serif;
  color: white;
}
header,
footer {
  max-width: 1000px;
  margin: 1rem auto;
  border: 1px solid #ccc;
  padding: 1rem;
  background-color: rgb(37, 145, 234);
}
main{
    background-color: rgb(198, 196, 196);
    padding:none;
}
h1 {
    text-align: center;
}
section {
  padding: .5rem;
  background-color: white;
  margin: 1em;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0,0,0,0.5);
}
footer {
    text-align: center;
    padding: none;
}
.hidden {
  display: none;
}
nav {
  display: none;
  justify-content: center;
}

nav.open {
  display: flex;
  justify-content: center;
}

nav a {
  padding: 1rem;
  color: white;
}

.menu-btn {
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: white;
}

@media (min-width: 600px) {
  nav {
    display: flex;        
  }

  .menu-btn {
    display: none;        
  }
}

          