
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@media (min-width: 601px){
    main{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row: auto;
    }
}
@media (max-width: 850px) and (min-width: 600px) {
    main{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-row: auto;
    }
}
   
body {
  font-family: Roboto, sans-serif;
}
header,
main,
footer {
  max-width: 1000px;
  margin: 1rem auto;
  border: 1px solid #ccc;
  padding: 1rem;
  background-color: lightblue;
}
h1 {
    text-align: center;
}
section {
  padding: 20px;
  background-color: white;
  margin: 1em;
  border: 1px solid #ccc;
}
.bar1, .bar2, .bar3 {
    width: 30px;
    height: 4px;
    background-color: black;
    margin: 5px 0;
}

.menu-btn.open .bar1 {
  transform: translate(0, 9px) rotate(-45deg);
}
.menu-btn.open .bar2 {opacity: 0;}

.menu-btn.open .bar3 {
  transform: translate(0, -9px) rotate(45deg);
}
          
footer {
    text-align: center;
}
.hidden {
  display: none;
}
nav {
  display: none;
  justify-content: center;
}

nav.open {
  display: flex;
  justify-content: center;
}

nav a {
  padding: 1rem;
  color: black;
}

.menu-btn {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

@media (min-width: 600px) {
  nav {
    display: flex;        
  }

  .menu-btn {
    display: none;        
  }
}

          